header{
    text-align: center;
    font-size: 25px;
    padding: 30px;
    background-color: yellow;
}

main{
    padding: 200px;
    text-align: center;
}

footer{
    justify-content: baseline;
    text-align: center;
    padding: 15px;
    background-color: yellow;
}