body {
    font-family: 'Sabon', sans-serif;
    /* font-family: Helvetica, Arial, sans-serif; */
}

/* Header Attributes */
header {
    text-align: center;
    color: white;
    background-color: #0F52BA;
    text-shadow: 1px 1px black;     
    font-size: 25px;   
    padding: 1px;                   /* Extra blue space from top and bottom of Header */
    padding-top: 35px;
    padding-bottom: 35px;           /* Space between title and search bar */ 
}

/* Home Button Attributes */
.home {
    position: absolute;
    top: 25px;
    left: 25px;
    display: inline;
    color: #c8c8c8; 
}

/* Hiding wierd home picture elements */
.home a {
    color: #0F52BA;
    text-shadow: none;  
}

#title {
    background-color: #0F52BA;  
    color: white;
    text-shadow: 2px 2px black;
    display: inline;
    padding: 3px;                     
}

/* Search Bar Attributes */
#searchBar {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 5px; 
    margin-bottom: 20px;            /* Extra space between search bar and table */
}

/* Table Attributes */
table {
    margin: auto;
    border: 2px solid #0f4d92;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: lightyellow; */
    background-color: white;
}

/* Column Header Attributea */
thead {
    color: white;
    background-color: #0f4d92;
}

/* Numbers Column Attributes*/
.number {
    color: #0f4d92;
    background-color: #bcd4e6;
    padding: 5px;                   /* Padding for all cell elements...why? */
}

/* Date Column Attributes */
.date {
    text-align: center;
    font-style: italic;
}

/* Table Cells Borders */
td {
    border: 1px solid #0f4d92; 
}

/* Footer Attributes */
footer {
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #000080;
    color: white;
}

body {
    margin: 0%;                     /* Eliminates the small white border that surrounds the page */
    /* background-color: lightsteelblue  */
    background-image: linear-gradient(to top, #000080, lightsteelblue);  
}

/* Admin Buttons */
#adminBtns {
    text-align: center;
    margin-bottom: 20px;
}

#deleteBtn {
    margin-left: 10px;
    margin-right: 10px;
}

/* ALL Form Div Content Attributes */
#addDiv, #deleteDiv, #editDiv {
    width: 400px;
    height: 300px;
    background-color: white;
    position: fixed;
    left: 550px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px #000;
}

/* ALL Form Attributes */
form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}

/* All Form Content Attributes */  
form>div {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ALL Form Div Header Attributes */
#addDiv h2, #deleteDiv h2, #editDiv h2 {
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}

/* Resizing for mobile phones: */
@media only screen and (max-width: 500px) {
    header {
        font-size: 14px;
        padding-bottom: 30px;
      }

    #title {
        margin-left: 0%;
    }

    .home img {
        position: absolute;
        top: -15px;
        left: -15px;
        max-width: 50px;
        height: 50px;
    }

    #searchBar {
        font-size: 14px;
        padding: 2px; 
      }

    input {
        font-size: 12px;
    }

    table {
      width: 80%;
      font-size: 14px;
    }
    
    footer {
        font-size: 12px;
    }
}

