/* Header Attributes */
header {
    text-align: center;
    color: white;
    background-color: #0F52BA;
    text-shadow: 1px 1px black;     
    font-size: 25px;   
    padding: 1px;                   /* Extra blue space from top and bottom of Header */
}

/* Search Bar Attributes */
#searchBar {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 20px;            /* Extra space between search bar and table */
}

/* Table Attributes */
table {
    margin: auto;
    border: 2px solid #0f4d92;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: lightyellow; */
    background-color: white;
}

/* Column Header Attributea */
thead {
    color: white;
    background-color: #0f4d92;
}

/* Numbers Column Attributes*/
.number {
    color: #0f4d92;
    background-color: #bcd4e6;
    padding: 5px;                   /* Padding for all cell elements...why? */
}

/* Date Column Attributes */
.date {
    text-align: center;
    font-style: italic;
}

/* Table Cells Borders */
td {
    border: 1px solid #0f4d92;
}

/* Footer Attributes */
footer {
    justify-content: baseline;
    text-align: center;
    padding: 15px;
    background-color: #000080;
    color: white;
}

body {
    margin: 0%;                     /* Eliminates the small white border that surrounds the page */
    /* background-color: lightsteelblue  */
    background-image: linear-gradient(to top, #000080, lightsteelblue);  
}





