/* NOT USED !!! */

body {
  margin: 0%;   /* Eliminates the small white border that surrounds the page */
  /* background-image: linear-gradient(to top, #000080, lightsteelblue);  */
  /* background-image: linear-gradient(to top, #000080, #8bcbfd); */
  font-family: 'Sabon', sans-serif;
  /* font-family: Helvetica, Arial, sans-serif; */
  background-color: #004B98;
}

/* Header Attributes */
header {
  text-align: center;
  color: white;
  /* background-color: #0F52BA; */
  background-color: #0A2240;
  text-shadow: 1px 1px black;     
  font-size: 25px;   
  padding: 1px;                   /* Extra blue space from top and bottom of Header */
  padding-top: 35px;
  padding-bottom: 45px;           /* Space between title and search bar */ 
} 

/* Home Button Attributes */
#home {
  position: absolute;
  top: 25px;
  left: 25px;
  display: inline;
  color: #c8c8c8; 
}

/* Hiding wierd home picture elements */
#home a {
  color: #0F52BA;
  text-shadow: none;  
}

/* admin login button */
/* #loginBtn {
  position: absolute;
  top:107px;
  left: 20px;
  display: inline;
} */

/* Back Button Attributes */
/* #back {
  position: absolute;
  top: 25px;
  left: 25px;
  display: inline;
  color: #c8c8c8; 
} */

/* Title Attributes */
#title {
  background-color: #0A2240;  
  color: white;
  text-shadow: 2px 2px black;
  display: inline;
  padding: 3px;                     
}


/* Table Attributes */
table {
  margin: auto;
  text-align: center;
  border: 2px solid #0f4d92;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: lightyellow; */
  background-color: white;
  
}

/* trying to make page look better */

.tableDiv {
  padding: 50px;
}

/* Column Header Attributea */
th {
  color: white;
  background-color: #0f4d92;
  padding-left: 5px;
  padding-right: 5px;
}

/* Numbers Column Attributes*/
.number {
  color: #0f4d92;
  background-color: #bcd4e6;
  padding: 5px;                   /* Padding for all cell elements...why? */
  font-weight: bold;
}

/* Date Column Attributes */
.date {
  text-align: center;
  font-style: italic;
}

.text{
  max-width: 500px;
}

/* Table Cells Borders */
td {
  border: 1px solid #0f4d92; 
}

/* Footer Attributes */
footer {
  justify-content: center;
  text-align: center;
  padding: 15px;
  background-color: #0A2240;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0%;
}


/* Resizing for mobile phones: */
@media only screen and (max-width: 500px) {
  header {
      font-size: 14px;
      padding-bottom: 30px;
    }

  #title {
      margin-left: 0%;
  }

  .home img {
      position: absolute;
      top: -15px;
      left: -15px;
      max-width: 50px;
      height: 50px;
  }

  #searchBar {
      font-size: 14px;
      padding: 2px; 
    }

  input {
      font-size: 12px;
  }

  table {
    width: 80%;
    font-size: 14px;
  }
  
  footer {
      font-size: 12px;
  }
}

