body {
    margin: 0%;   /* Eliminates the small white border that surrounds the page */
    /* background-image: linear-gradient(to top, #000080, lightsteelblue);  */
    background-image: linear-gradient(to top, #000080, #8bcbfd);
    font-family: 'Sabon', sans-serif;
    /* font-family: Helvetica, Arial, sans-serif; */
}

/* Header Attributes */
header {
    text-align: center;
    color: white;
    background-color: #0F52BA;
    text-shadow: 1px 1px black;     
    font-size: 25px;   
    padding: 1px;                   /* Extra blue space from top and bottom of Header */
    padding-top: 35px;
    padding-bottom: 35px;           /* Space between title and search bar */ 
} 

footer {
    margin-top: auto;
}

/* Home Button Attributes */
#home {
    position: absolute;
    top: 25px;
    left: 25px;
    display: inline;
    color: #c8c8c8; 
}

/* Hiding wierd home picture elements */
#home a {
    color: #0F52BA;
    text-shadow: none;  
}

/* Back Button Attributes */
#back {
    position: absolute;
    top: 25px;
    left: 25px;
    display: inline;
    color: #c8c8c8; 
}

/* Title Attributes */
#title {
    background-color: #0F52BA;  
    color: white;
    text-shadow: 2px 2px black;
    display: inline;
    padding: 3px;                     
}

/* Search Bar Attributes */
#searchBar {
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 5px; 
    margin-bottom: 20px;            /* Extra space between search bar and table */
    min-height: 20px;
}

#searchForm {
    margin-bottom: 0px;
}

/* Search Button Attributes */
#searchIcon {
    display: inline;
    padding: 2px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}

#searchIcon:hover {
    background-color:#ddd
}

/* Admin Login Button Attributes */
#loginBtn {
    position: absolute;
    left: 18px;
}

/* Table Attributes */
table {
    margin: auto;
    text-align: center;
    border: 2px solid #0f4d92;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: lightyellow; */
    background-color: white;
}

/* Column Header Attributea */
th {
    color: white;
    background-color: #0f4d92;
    padding-left: 5px;
    padding-right: 5px;
}

/* Numbers Column Attributes*/
.number {
    color: #0f4d92;
    background-color: #bcd4e6;
    padding: 5px;                   /* Padding for all cell elements...why? */
    font-weight: bold;
}

/* Date Column Attributes */
.date {
    text-align: center;
    font-style: italic;
}

/* Table Cells Borders */
td {
    border: 1px solid #0f4d92; 
}

/* Footer Attributes */
footer {
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #000080;
    color: white;
}

/* Resizing for mobile phones: */
@media only screen and (max-width: 750px) {
    header {
        font-size: 14px;
        padding-bottom: 30px;
    }
    #title {
        margin-left: 0%;
    }
    #home {
        position: absolute;
        top: 20px;
        left: 15px;
        max-width: 30px;
        height: 30px;
    }
    #home img {
        width: 50px;
        height: 50px;
    }
    #loginBtn {
        /* height: 20px; */
        font-size: 8px;
        left: 8px;
    }
    #searchBar {
        font-size: 14px;
        padding: 2px;
        padding-left: 20px;
      }
    input {
        font-size: 12px;
    }
    table {
      width: 80%;
      font-size: 14px;
    }
    footer {
        font-size: 12px;
    }
}

