/* TODO: Add two "action" shots of spikeball club on campus
*  TODO: Create Etown Spikeball Club Logo to put at the top left and right of the page
*  TODO: Tab 1) Link to and create a How to Play page
*  TODO: Tab 2) Link to Official Roundnet Rules page
*  TODO: Tab 3) Link to and create a login page, that will then direct you to the club members page
*                                       ^ Login as Member (button option) and actual login for cabinet members 
*  U: Smashorpass     P: spookball4life
*/ 

/* Header Attributes */
header {
    text-align: center;
    font-size: 25px;
    background-color: #0F52BA;
    padding-top: 35px;                /* Space between top of page and title */
}

#title {
    background-color: #0F52BA;  
    color: white;
    text-shadow: 1px 1px black;
    display: inline;
    padding: 3px;                     
}

/* Tabs Attributes */
header div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 34px;                 /* Space between title and tabs */ 
}

/* Individual Tab Attributes */
.col-sm {
    /* background-color: lightyellow; */
    background-color: white;
    padding: 2px;                    /* Slightly more white space around each tab */ 
    width: 34%;                      /* Make tabs reach across the entire length of the screen */
}

/* Tabs Border */
.row div {
    border: solid 1px;
}

/* Tabs Modifiers */
.row div:hover {
    color: #5CB8E4;
}

/* Main Attributes */
main {
    padding-top: 30px;
    text-align: center;
    background-image: linear-gradient(to top, #000080, lightsteelblue);  
}

/* Div Attributes */ 
.basic_info { 
    /* background-color: lightyellow; */
    background-color: white;
    width: 500px;
    height: 55%;
    border: solid 1px;   
    border-radius: 7px;             /* add border curvature */
    margin: auto;                   /* center div */
    padding-top: 5px;               /* add extra white space between header and div */
}

#description {
    padding-left: 20px;
    padding-right: 20px;
}

#meeting {
    padding-left: 20px;
    padding-right: 20px;
}

#club_email:hover {
    color: #5CB8E4;
}

/* Footer Attributes */
footer {
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #000080;
    color: white;
}

body{
    margin: 0%;       /* Eliminates the small white border that surrounds the page */
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    header {
        font-size: 14px;
      }
    header div.row {
        width: 100%;
        font-size: 12px;
      }
    .basic_info {
      width: 95%;
      font-size: 13px;
    }
    footer {
        font-size: 13px;
      }
}