body {
    font-family: 'Sabon', sans-serif;
    /* font-family: Helvetica, Arial, sans-serif; */
}

/* Header Attributes */
header {
    text-align: center;
    font-size: 25px;
    background-color: #0F52BA;
    padding-top: 35px;                /* Space between top of page and title */
}

/* Title Attributes */
#title {
    background-color: #0F52BA;  
    color: white;
    text-shadow: 2px 2px black;
    display: inline;
    padding: 3px;                     
}

/* Tabs Div Attributes */
header div.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 34px;                 /* Space between title and tabs */ 
}

/* Individual Tab Attributes */
.col-sm {
    /* background-color: lightyellow; */
    background-color: white;
    padding: 2px;                    /* Slightly more white space around each tab */ 
    width: 34%;                      /* Make tabs reach across the entire length of the screen */
}

/* Tabs Border */
.tabs div {
    border: solid 1px;
}

/* Tabs Modifiers */
.tabs div:hover {
    color: #5CB8E4;
}

/* Images */
#imgLeft img {
    position: absolute;
    top: 45%;
    left: 6%;
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 0.75rem black);  
}

#imgRight img {
    position: absolute;
    top: 45%;
    right: 6%;
    width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 0.75rem black);            
}

/* Main Attributes */
main {
    padding-top: 30px;
    text-align: center;
    /* background-image: linear-gradient(to top, #000080, lightsteelblue);   */
    background-image: linear-gradient(to top, #000080, #8bcbfd);
}

/* Div Attributes */ 
.basic_info { 
    /* background-color: lightyellow; */
    background-color: white;
    width: 500px;
    height: 55%;
    border: solid 1px;   
    border-radius: 7px;             /* add border curvature */
    margin: auto;                   /* center div */
    padding-top: 5px;               /* add extra white space between header and div */
}

/* Spikeball Club Img */
#spikeballLogo {
    width: 155px;       
    height: 160px; 
}

#description {
    padding-left: 20px;
    padding-right: 20px;
}

#meeting {
    padding-left: 20px;
    padding-right: 20px;
}

#club_email:hover {
    color: #5CB8E4;
}

/* Footer Attributes */
footer {
    justify-content: center;
    text-align: center;
    padding: 15px;
    background-color: #000080;
    color: white;
}

body {
    margin: 0%;       /* Eliminates the small white border that surrounds the page */
}

#calendar-left {
    width:50px;
    position: relative;
    right: 75px;
    bottom: 50px;
}

#calendar-right {
    width:50px;
    position: relative;
    left: 75px;
    bottom: 50px;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    header {
        font-size: 14px;
      }
    header div.row {
        width: 100%;
        font-size: 12px;
      }
    .basic_info {
      width: 90%;
      font-size: 13px;
    }
    footer {
        padding: 15px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 1200px) {
    /* Remove images if screensize is smaller than standard laptop */
    #imgLeft img, #imgRight img {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    /* If screensize is between 1200 and 1300 px, display image with different absolute position */
    #imgLeft img {
        position: absolute;
        top: 45%;
        left: 2%;
    }
    #imgRight img {
        position: absolute;
        top: 45%;
        right: 2%;
    }
} 